 /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
	padding: 0px;
	position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */

}

/* Style the links inside the navigation bar */
.topnav a.menuItem, .topnav a.icon {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.menuButton {}

/* Style the logo (left) inside the navigation bar */
.topnav a img.logoLeft {
    float: left;
    display: block;
    text-align: center;
    padding: 2px;
}

/* Style the logo (left) inside the navigation bar */
.topnav a img.logoRight {
    float: right;
    display: block;
    text-align: center;
    padding-top: 2px;
	padding-bottom: 2px;
}

/* Change the color of links on hover */
.topnav a.menuItem:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav a.icon {
    display: none;
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a.menuItem:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a.menuItem {
    /*float: none;
    display: block;*/
    text-align: left;
  }
  .topnav.responsive a img.logoLeft,
  .topnav.responsive a img.logoRight { display: none; }
} 
