body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

header {
	height: 100vh;
	text-align: center;
	color: #fff;
	background-attachment: scroll;
	background-image: url('../img/header-bg.jpg');
	background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

header .btn {
	position: absolute;
	bottom: 100px;
	width:200px;
	margin-left: -100px;
	background-color:rgba(134, 0, 132, .8);
	color:whitesmoke;
}

header .btn:hover {
	background-color:rgba(134, 0, 132, 1);
	color:whitesmoke;
}

.container {
	width: 100%;
	max-width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	color: #282828;
	z-index: 1;
	border-radius: 3px;
	box-shadow: 0 0 10px 0 rgba(40, 40, 40, 0.3);
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.container p{
	text-align: center;
}
.row {
	display: initial;
}

i.large {
    font-size: 6rem;
}
i.medium {
    font-size: 4rem;
}
i.small {
    font-size: 2rem;
}
i.tiny {
    font-size: 1rem;
}
